.vs/AutoCatalog/FileContentIndex/18c7b64b-42ee-4cf6-b62c-b3ba89057506.vsidx
.vs/AutoCatalog/FileContentIndex/ba2845c5-e05c-4811-9b9c-e6b78f8b74b1.vsidx
.vs/AutoCatalog/FileContentIndex/1c752ca5-c226-4479-a4c9-936439b23a55.vsidx
.vs/AutoCatalog/FileContentIndex/
AutoCatalog/appSettings.json
